[Desktop Entry]
Type=Application
Name=Hefesto-Dualsense4Unix
GenericName=Hefesto - Dualsense4Unix
Comment=Daemon Linux de gatilhos adaptativos para DualSense
Exec=hefesto-dualsense4unix
Icon=Hefesto-Dualsense4Unix
Categories=Utility;HardwareSettings;
Terminal=true
