[Desktop Entry]
Name=Hefesto
Comment=Daemon de gatilhos adaptativos para DualSense
Exec=/usr/bin/hefesto-gui
Icon=hefesto
Terminal=false
Type=Application
Categories=Game;Settings;HardwareSettings;
Keywords=DualSense;PS5;controle;gamepad;trigger;haptic;
StartupWMClass=Hefesto
